* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    background-image: url(/bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.main-box {
    width: 35%;
    min-height: 60vh;
    background-color: #ffffffb6;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    border-radius: .5rem;
}

.search-part {
    width: 45%;
    height: auto;
    background-color: black;
    color: white;
    border-radius: .2rem;
    margin: 2rem 0 0 1.6rem;
    display: flex;
}

.fa-magnifying-glass {
    font-size: .8rem;
    margin-left: .4rem;
    color: rgb(225, 221, 221);
}

.input-city {
    width: 85%;
    background-color: black;
    color: rgb(225, 221, 221);
    border: 0;
    outline: 0;
    margin-left: .2rem;
}

.input-city::placeholder {
    font-size: .8rem;
    color: rgb(225, 221, 221);
}

.info {
    margin: 2rem 0 auto;
    text-align: center;

}

.forcast p {
    width: 4rem;
    background-color: black;
    color: rgb(227, 224, 219);
    padding: .2rem;
    margin: 1rem auto;
    border-radius: .9rem;
}

.min-max {
    font-size: .8rem;
    color: rgb(41, 39, 39);
}

.tamperature {
    font-size: 1.8rem;
}

.bottum-info {
    width: 100%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.more-info {
    height: 3.5rem;
    margin: 1rem .5rem;
    background-color: #f8f7f7;
    border-radius: .6rem;
    display: flex;
    align-items: center;
    box-shadow: 0rem 0rem .9rem rgba(168, 166, 166, 0.489);
}

.b-icone {
    font-size: 1.4rem;
    margin: 0 1rem;
}

.more-info div h4 {
    font-size: .8rem;
    margin-top: 1rem;
}

.more-info div p {
    margin-top: -.6rem;
    font-size: .8rem;
    font-weight: 550;
}

@media(max-width: 1200px) {
    .main-box {
        width: 50%;
    }

    .search-part {
        width: 60%;
    }
}

@media(max-width: 992px) {
    .main-box {
        width: 65%;
    }
}

@media(max-width: 768px) {
    .main-box {
        width: 80%;
    }
}

@media(max-width: 576px) {
    .main-box {
        width: 95%;
    }
}